{% extends 'base.html' %}
{% block content %}
    {% for plugin in plugins_context.main_before %}
        {% with plugin_context=plugin %}
        {% include "%s"%plugin_context.tpl %}
        {% endwith %}
    {% endfor %}
        {% if has_sider %}
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="md_content" data="{{md_content}}"></div>
              </div>
              <div class="col-xs-6 col-md-4">
                {% include 'sider.html' %}
              </div>
            </div>
        {% else %}
            <div class="md_content" data="{{md_content}}"></div>
        {% endif %}
{% endblock %}
