{% extends 'base.html' %}
{% block content %}
    {% for plugin in plugins_context.main_before %}
        {% with plugin_context=plugin %}
        {% include "%s"%plugin_context.tpl %}
        {% endwith %}
    {% endfor %}
    <div class="md_content" data="{{md_content}}"></div>
    <ul class="">
      {% for item in site_map.sub %}
        {% if item.is_cate %}
            <li>{{item.text}}</li>
            <ul class="">
                {% for subitem in item.sub %}
                    <li><a href="{{subitem.url}}">{{subitem.text}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <li><a href="{{item.url}}">{{item.text}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
{% endblock %}
